<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MyFlaskProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true)%}
      {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
{% include 'includes/_footer.html' %}
    {% block body %}

    {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
    </script>
   </body>
</html>
